In [1]:
import psycopg2
import pandas as pd

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_16013/979458548.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=funka password=funka1")

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [4]:
# Return data from the CustomersNew table:
#cur.execute('''SELECT * FROM testDB.Persons;''')
cur.execute('''
SELECT *, price * quantity AS order_value FROM public.order_details
LEFT JOIN public.orders
ON order_details.order_id = orders.order_id
LEFT JOIN public.products
ON order_details.product_id = products.product_id;
''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,order_detail_id,order_id,product_id,quantity,order_id,customer_id,order_date,product_id,product_name,category_id,unit,price,order_value
0,1,10248,11,12,10248,90,2021-07-04,11,Queso Cabrales,4,1 kg pkg.,21.00,252.00
1,2,10248,42,10,10248,90,2021-07-04,42,Singaporean Hokkien Fried Mee,5,32 - 1 kg pkgs.,14.00,140.00
2,3,10248,72,5,10248,90,2021-07-04,72,Mozzarella di Giovanni,4,24 - 200 g pkgs.,34.80,174.00
3,4,10249,14,9,10249,81,2021-07-05,14,Tofu,7,40 - 100 g pkgs.,23.25,209.25
4,5,10249,51,40,10249,81,2021-07-05,51,Manjimup Dried Apples,7,50 - 300 g pkgs.,53.00,2120.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,2151,11077,64,2,11077,65,2023-05-06,64,Wimmers gute Semmelknadel,5,20 bags x 4 pieces,33.25,66.50
2151,2152,11077,66,1,11077,65,2023-05-06,66,Louisiana Hot Spiced Okra,2,24 - 8 oz jars,17.00,17.00
2152,2153,11077,73,2,11077,65,2023-05-06,73,Red Kaviar,8,24 - 150 g jars,15.00,30.00
2153,2154,11077,75,4,11077,65,2023-05-06,75,Rhenbreu Klosterbier,1,24 - 0.5 l bottles,7.75,31.00
2154,2155,11077,77,2,11077,65,2023-05-06,77,Original Frankfurter grőne Soae,2,12 boxes,13.00,26.00