In [2]:
from MySQLdb import connect
import pandas as pd

In [3]:
# Connect to your MySQLdb
conn = connect(host='localhost', user='root')

In [4]:
# Open a cursor to perform database operations
cur = conn.cursor()

The SQL OR Operator
- The WHERE clause can contain one or more OR operators.
- The OR operator is used to filter records based on more than one condition, like if you want to return all customers from Germany but also those from Spain:

In [5]:
# Select all customers from Germany or Spain:
cur.execute('''SELECT * FROM sqlw3s.Customers WHERE Country = 'Germany' OR Country = 'Spain';''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
3,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
4,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
5,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
6,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,08022,Spain
7,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
8,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
9,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
10,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
11,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
12,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
13,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain
14,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
15,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

> Syntax
>
> SELECT column1, column2, ...
> FROM table_name
> WHERE condition1 OR condition2 OR condition3 ...;

OR vs AND
- The OR operator displays a record if any of the conditions are TRUE.
- The AND operator displays a record if all the conditions are TRUE.


At Least One Condition Must Be True
- The following SQL statement selects all fields from Customers where either City is "Berlin", CustomerName starts with the letter "G" or Country is "Norway":

In [6]:
# Example
cur.execute('''SELECT * FROM sqlw3s.Customers WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,08022,Spain
2,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
3,31,Gourmet Lanchonetes,André Fonseca,"Av. Brasil, 442",Campinas,04876-786,Brazil
4,32,Great Lakes Food Market,Howard Snyder,2732 Baker Blvd.,Eugene,97403,USA
5,33,GROSELLA-Restaurante,Manuel Pereira,5ª Ave. Los Palos Grandes,Caracas,1081,Venezuela
6,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway

Combining AND and OR
- You can combine the AND and OR operators.
- The following SQL statement selects all customers from Spain that starts with a "G" or an "R".
- Make sure you use parenthesis to get the correct result.

In [8]:
# Select all Spanish customers that starts with either "G" or "R":
cur.execute('''SELECT * FROM sqlw3s.Customers WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,08022,Spain
1,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
2,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain

Without parenthesis, the select statement will return all customers from Spain that starts with a "G", plus all customers that starts with an "R", regardless of the country value:

In [10]:
# Select all customers that either: are from Spain and starts with either "G", or starts with the letter "R":
cur.execute('''SELECT * FROM sqlw3s.Customers WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,08022,Spain
1,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
2,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
3,65,Rattlesnake Canyon Grocery,Paula Wilson,2817 Milton Dr.,Albuquerque,87110,USA
4,66,Reggiani Caseifici,Maurizio Moroni,Strada Provinciale 124,Reggio Emilia,42100,Italy
5,67,Ricardo Adocicados,Janete Limeira,"Av. Copacabana, 267",Rio de Janeiro,02389-890,Brazil
6,68,Richter Supermarkt,Michael Holz,Grenzacherweg 237,Genève,1203,Switzerland
7,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain