In [1]:
from MySQLdb import connect
import pandas as pd

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_39167/3687392072.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Connect to your MySQLdb
#conn = connect(host='localhost', user='root')
conn = connect(host='127.0.0.1', user='root', password = 'root', port = 8890)

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [4]:
# Return data from the Customers table:
cur.execute('''SHOW DATABASES;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

             Database
0  information_schema
1               mysql
2  performance_schema
3              sqlw3s
4                 sys
5              testDB

The SQL INSERT INTO SELECT Statement
- The INSERT INTO SELECT statement copies data from one table and inserts it into another table.
- The INSERT INTO SELECT statement requires that the data types in source and target tables match.
- Note: The existing records in the target table are unaffected.

>INSERT INTO SELECT Syntax

- Copy all columns from one table to another table:

>INSERT INTO table2
>
>SELECT * FROM table1
>
>WHERE condition;

- Copy only some columns from one table into another table:

>INSERT INTO table2 (column1, column2, column3, ...)
>
>SELECT column1, column2, column3, ...
>
>FROM table1
>
>WHERE condition;

In [5]:
cur.execute('''DROP TABLE testDB.CustomersNew;''')

0

In [6]:
# The following SQL statement creates a backup copy of Customers:
cur.execute('''CREATE TABLE testDB.CustomersNew AS SELECT * from testDB.Customers;''')

91

In [7]:
#Below is a selection from the "Customers" table:
cur.execute('''SELECT * FROM testDB.CustomersNew''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
...,...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

In [8]:
#Below is a selection from the "Suppliers" table:
cur.execute('''SELECT * FROM testDB.Suppliers''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
0,1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
1,2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
2,3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735
3,4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54
5,6,Mayumi's,Mayumi Ohno,92 Setsuko Chuo-ku,Osaka,545,Japan,(06) 431-7877
6,7,"Pavlova, Ltd.",Ian Devling,74 Rose St. Moonie Ponds,Melbourne,3058,Australia,(03) 444-2343
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,29 King's Way,Manchester,M14 GSD,UK,(161) 555-4448
8,9,PB Knäckebröd AB,Lars Peterson,Kaloadagatan 13,Göteborg,S-345 67,Sweden,031-987 65 43
9,10,Refrescos Americanas LTDA,Carlos Diaz,Av. das Americanas 12.890,São Paulo,5442,Brazil,(11) 555 4640
10,11,Heli Süßwaren GmbH & Co. KG,Petra Winkler,Tiergartenstraße 5,Berlin,10785,Germany,(010) 9984510
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,Bogenallee 51,Frankfurt,60439,Germany,(069) 992755
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Frahmredder 112a,Cuxhaven,27478,Germany,(04721) 8713
13,14,Formaggi Fortini s.r.l.,Elio Rossi,"Viale Dante, 75",Ravenna,48100,Italy,(0544) 60323
14,15,Norske Meierier,Beate Vileid,Hatlevegen 5,Sandvika,1320,Norway,(0)2-953010
15,16,Bigfoot Breweries,Cheryl Saylor,3400 - 8th Avenue Suite 210,Bend,97101,USA,(503) 555-9931
16,17,Svensk Sjöföda AB,Michael Björn,Brovallavägen 231,Stockholm,S-123 45,Sweden,08-123 45 67
17,18,Aux joyeux ecclésiastiques,Guylène Nodier,"203, Rue des Francs-Bourgeois",Paris,75004,France,(1) 03.83.00.68
18,19,New England Seafood Cannery,Robb Merchant,Order Processing Dept. 2100 Paul Revere Blvd.,Boston,02134,USA,(617) 555-3267
19,20,Leka Trading,Chandra Leka,"471 Serangoon Loop, Suite #402",Singapore,0512,Singapore,555-8787
20,21,Lyngbysild,Niels Petersen,Lyngbysild Fiskebakken 10,Lyngby,2800,Denmark,43844108
21,22,Zaanse Snoepfabriek,Dirk Luchte,Verkoop Rijnweg 22,Zaandam,9999 ZZ,Netherlands,(12345) 1212
22,23,Karkki Oy,Anne Heikkonen,Valtakatu 12,Lappeenranta,53120,Finland,(953) 10956
23,24,"G'day, Mate",Wendy Mackenzie,170 Prince Edward Parade Hunter's Hill,Sydney,2042,Australia,(02) 555-5914
24,25,Ma Maison,Jean-Guy Lauzon,2960 Rue St. Laurent,Montréal,H1J 1C3,Canada,(514) 555-9022
25,26,Pasta Buttini s.r.l.,Giovanni Giudici,"Via dei Gelsomini, 153",Salerno,84100,Italy,(089) 6547665
26,27,Escargots Nouveaux,Marie Delamare,"22, rue H. Voiron",Montceau,71300,France,85.57.00.07
27,28,Gai pâturage,Eliane Noz,"Bat. B 3, rue des Alpes",Annecy,74000,France,38.76.98.06
28,29,Forêts d'érables,Chantal Goulet,148 rue Chasseur,Ste-Hyacinthe,J2S 7S8,Canada,(514) 555-2955

SQL INSERT INTO SELECT Examples

In [9]:
#Need CustomerID to be autoincrement
cur.execute('''ALTER TABLE testDB.CustomersNew MODIFY CustomerID int PRIMARY KEY AUTO_INCREMENT ;''')

91

In [10]:
# Copy "Suppliers" into "Customers" (the columns that are not filled with data, will contain NULL):
cur.execute('''INSERT INTO testDB.CustomersNew (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM testDB.Suppliers;''')

29

In [11]:
# Return data from the Customers table:
cur.execute('''SELECT * FROM testDB.CustomersNew;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
...,...,...,...,...,...,...,...
115,116,Ma Maison,None,None,Montréal,None,Canada
116,117,Pasta Buttini s.r.l.,None,None,Salerno,None,Italy
117,118,Escargots Nouveaux,None,None,Montceau,None,France
118,119,Gai pâturage,None,None,Annecy,None,France
119,120,Forêts d'érables,None,None,Ste-Hyacinthe,None,Canada

In [12]:
# Copy "Suppliers" into "Customers" (fill all columns):
cur.execute('''INSERT INTO testDB.CustomersNew (CustomerName, ContactName, Address, City, PostalCode, Country)
SELECT SupplierName, ContactName, Address, City, PostalCode, Country FROM testDB.Suppliers;''')

29

In [13]:
# Return data from the Customers table:
cur.execute('''SELECT * FROM testDB.CustomersNew;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
...,...,...,...,...,...,...,...
144,147,Ma Maison,Jean-Guy Lauzon,2960 Rue St. Laurent,Montréal,H1J 1C3,Canada
145,148,Pasta Buttini s.r.l.,Giovanni Giudici,"Via dei Gelsomini, 153",Salerno,84100,Italy
146,149,Escargots Nouveaux,Marie Delamare,"22, rue H. Voiron",Montceau,71300,France
147,150,Gai pâturage,Eliane Noz,"Bat. B 3, rue des Alpes",Annecy,74000,France
148,151,Forêts d'érables,Chantal Goulet,148 rue Chasseur,Ste-Hyacinthe,J2S 7S8,Canada

In [14]:
# Copy only the German suppliers into "Customers":
cur.execute('''INSERT INTO testDB.CustomersNew (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM testDB.Suppliers
WHERE Country='Germany';''')

3

In [15]:
# Return data from the Customers table:
cur.execute('''SELECT * FROM testDB.CustomersNew;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
...,...,...,...,...,...,...,...
147,150,Gai pâturage,Eliane Noz,"Bat. B 3, rue des Alpes",Annecy,74000,France
148,151,Forêts d'érables,Chantal Goulet,148 rue Chasseur,Ste-Hyacinthe,J2S 7S8,Canada
149,154,Heli Süßwaren GmbH & Co. KG,None,None,Berlin,None,Germany
150,155,Plutzer Lebensmittelgroßmärkte AG,None,None,Frankfurt,None,Germany
151,156,Nord-Ost-Fisch Handelsgesellschaft mbH,None,None,Cuxhaven,None,Germany